datasets
datasketch
Flask
Flask_Cors
jieba
jsonlines
marshmallow
matplotlib
ngrok
nltk
numpy
openai
pandas
peft
psutil
pydantic
rich
scikit_learn
sentence_transformers
simhash
tiktoken
torch
transformers
jinja2
jsonlines
trl
ujson
deepspeed
streamlit

# ERROR: Ignored the following versions that require a different python version: 1.21.2 Requires-Python >=3.7,<3.11; 1.21.3 Requires-Python >=3.7,<3.11; 1.21.4 Requires-Python >=3.7,<3.11; 1.21.5 Requires-Python >=3.7,<3.11; 1.21.6 Requires-Python >=3.7,<3.11; 1.26.0 Requires-Python <3.13,>=3.9; 1.26.1 Requires-Python <3.13,>=3.9
# ERROR: Could not find a version that satisfies the requirement torch==2.1.2 (from versions: 2.5.0, 2.5.1, 2.6.0, 2.7.0, 2.7.1)
# ERROR: No matching distribution found for torch==2.1.2